
body 
{
    background-color: #24c22e;
    font-family: Arial, Helvetica, sans-serif;
    color: #faf4f9;
}
h1
{
    font-size: 24px;
    color: #7415e8;
}
p
{
    background-color: #bb1cae9d;
    font-size: 16px;
    color: rgb(18, 237, 29);
}
